body {
    background: #f5d9df;
    font-family: "Nunito", sans-serifs;
}

#mainNavbar {
    font-size: 2rem;
    font-weight: 150;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #ea1c2c;
}


#mainNavbar .navbar-brand {
    color: #ea1c2c;
    font-size: 2rem;
    font-weight: 150;
}

.slashHead {
    color: #ea1c2c;
}

.headingGroup h1 {
    font-weight: 150;
    font-size: 4rem;
}

/* media queries allow us to change css based on screen size */
@media (max-width:1500px) {
    .headingGroup h1 {
        font-size: 3rem;
    }
}